service surfaceflinger /system/bin/surfaceflinger
    class core
    user system
    group graphics drmrpc readproc
    onrestart restart zygote
    onrestart setprop sys.sf.restart 1
    writepid /dev/stune/foreground/tasks
